@model Vividly.View_Models.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
<ul>
    @foreach(var customer in Model.Customers)
    {
        <li style="text-decoration:none">
            <a href="">@customer.FirstName @customer.LastName</a>
        </li>
    }
</ul>
